<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>StokFridge</title>
    <link rel="stylesheet" charset="UTF-8" href="stylesheets/index.css" />
	<meta name="description" content="StokFridge helps you plan your weekly menu and meal budget -- click on the StokFridge button on a recipe webpage, and a grocery list of ingredients and total costs customized to your local grocers will be provided for you." />
	<meta name="keywords" content="StokFridge,stok,stock,fridge,recipe,recipes,groceries,grocery list,shopping,meal plan,food,recipe cost" />
</head>
<body>
    <div class="wrapper">
      <div class="description">
          <%= link_to image_tag("logo.png", :alt => "Stok Fridge?"), root_path %>
          <p>Found the recipes you want online? Click on the StokFridge button located on the same page, and voila! A grocery list of ingredients and total costs customized to your local grocers will be provided for you!</p>
      </div>
      <div class="signup">
        <script type="text/javascript">
var _ntzrq=[['setProgramId', 'lYNFq'], ['load']]; (function() { var d = document, h = d.getElementsByTagName('head')[0], s = d.createElement('script'); d.write('<div id="enthuzr-widget"></div>'); s.type = 'text/javascript'; s.async = true; s.src = 'http://widgets.enthuzr.com/0.4/widget.js'; h.appendChild(s); })();
</script>
        </div>
      <div class="footer">
		  <div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) {return;}
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=230002495035";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		  <div class="fb-like" data-href="http://www.facebook.com/pages/StokFridge/203059976435688?ref=ts&amp;sk=wall" data-send="false" data-width="450" data-show-faces="false" data-colorscheme="dark"></div>
        <p>&copy Copyright StokFridge 2011-2012</p>
      </div>
    </div>
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27145989-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>