<script type="text/javascript">
	jQuery(document).ready(function($) {
		// Load spinner.
		
		// Create recipe with given name and ingredients.
		params = window.location.search.slice(1);
		console.log(params);
		
		$.post('/recipes', params, function(data) {
			// Stop spinner.
			
			// Add recipe to the document.
			$('#recipe').html(data);
		});
	});
</script>

<div id="recipe"></div>
