<h1>Ingredients for Recipe</h1>

<script type="text/javascript">
	jQuery(document).ready(function($) {
		// Load spinner.
		
		// Create recipe with given name and ingredients.
		$.post('/recipes', window.location.search, function(data) {
			// Stop spinner.
			
			// Add recipe to the document.
			$('#recipe').html(data);
		});
	});
</script>

<div id="recipe"></div>
